<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <title>@universis/robot | Error</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@universis/theme@2.3.0/css/universis.min.css"
          integrity="sha256-aThhLGSpet9jhU04tpFofgEUd7CstQzzxVqKYKkMAJs=" crossorigin="anonymous">
    <style>
        html, body {
            height: 100%;
        }
        </style>
</head>

{% block content %}
{% endblock %}

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</html>
