{% extends "empty.twig" %}

{% block content %}
    <body class="d-flex justify-content-center align-items-center">
        <div class="col-md-12 text-center">
            <h1 class="display-2">{{ status }}</h1>
            <p>
                {{ message }}
            </p>
        </div>
    </body>
{% endblock %}