{% extends "master.twig" %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-12 mt-4">
            <h1>@universis/robot</h1>
            <h3>Task orchestration microservice</h3>
        </div>
    </div>
</div>
{% endblock %}