html, body {
  height: 100%;
}

body {
  padding-top: 54px; }

@media (min-width: 992px) {
  body {
    padding-top: 56px; } }

.empty {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fdfdfd; }

.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 20vh auto; }
  .form-login .form-login-heading {
    margin-bottom: 20px; }
  .form-login .checkbox {
    font-weight: normal; }
  .form-login .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px; }
    .form-login .form-control:focus {
      z-index: 2; }

/*# sourceMappingURL=style.css.map */