html, body {
  height: 100%;
}

body {
    padding-top: 54px;
}


@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.empty {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fdfdfd;
}
.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 20vh auto;
  .form-login-heading {
    margin-bottom: 20px;
  }
  .checkbox {
    font-weight: normal;
  }
  .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    &:focus {
      z-index: 2;
    }
  }
}
